body {
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carteRep {
  background: #0d2555;
  border-radius: 0.5em;
  color: #eee1e1;
  text-align: center;
  width: 40em;
  margin: auto;
}

.card-header {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  color: #0d2555;
}

.card-body {
  width: 40em;
  margin: auto;
}

span:hover {
  color: orangered;
}

.btn:hover {
  background-color: #acacac;
  color: #0f0f0f;
  font-weight: 400;
}

/*# sourceMappingURL=index.css.map */
